<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SmartLaC-Admin</title>

<!-- CSS -->
<link href="@{'public/admintema/style/css/transdmin.css'}" rel="stylesheet" type="text/css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="@{'public/admintema/style/css/ie6.css'}" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="@{'public/admintema/style/css/ie7.css'}" /><![endif]-->

<!-- JavaScripts-->
<script type="text/javascript" src="@{'public/admintema/style/js/jquery.js'}"></script>
<script type="text/javascript" src="@{'public/admintema/style/js/jNice.js'}"></script>
</head>

<body>
	<div id="wrapper">
    	<!-- h1 tag stays for the logo, you can use the a tag for linking the index page -->
    	<div class="logo"><h1><a href="#"><span>Transdmin Light</span></a></h1></div>
    	
        
        <!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
        <ul id="mainNav">
        
         <!-- Use the "active" class for the active menu item  -->
        	
        	<li><a href="@{Application.index()}">Home</a></li>
        	<li><a href="#">User</a></li>
        	
        	<li><a href="#">About</a></li>
        	<li class="logout"><a href="#">LOGOUT</a></li>
        </ul>
        <!-- // #end mainNav -->
        
        <div id="containerHolder">
			<div id="container">
        		<div id="sidebar">
                	<ul class="sideNav">
                	<!-- class="active" -->
                	<li><a href="@{CRUD.index()}">Home-Admin</a></li>
                    <li><a href="@{Gedungs.list()}">Gedung</a></li>
                    <li><a href="@{ruangans.list()}">Ruangan</a></li>
                    <li><a href="@{lampus.list()}">Lampu</a></li>
                    <li><a href="@{sensors.list()}">Sensors</a></li>
                    <li><a href="#">Events</a></li>
                    </ul>
                    <!-- // .sideNav -->
                </div>    
                <!-- // #sidebar -->
                
                <!-- h2 stays for breadcrumbs -->
                
                
                <div id="main">
                	
                #{doLayout/}
                </div>
                <!-- // #main -->
                
                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>	
        <!-- // #containerHolder -->
        
        <p id="footer">Rekayasa Perangkat Lunak 2017 - Teknik elektro Unsoed - Template by <a href="http://www.perspectived.com">www.perspectived.com</a></p>
    </div>
    <!-- // #wrapper -->
</body>
</html>


