#{extends 'home-tema.html' /}
<!--  -->
<link href="@{'public/stylesheets/main.css'}" rel="stylesheet" type="text/css" media="screen" />
<div class="user">

<h1>Functional Requirement</h1>
<ol  >
	<li>Sistem memiliki fungsi untuk mengendalikan lampu ruang kelas.</li>
	<li>Sistem mampu mendekteksi adanya orang didalam ruangan.</li>
	<li>Sistem memiliki kemampuan untuk mencacah jumlah orang yang berada di dalam ruangan.</li>
	<li>Sistem memiliki kemampuan untuk mematikan lampu jika tidak terdeteksi orang di ruangan.</li>
	<li>Sistem memiliki kemampuan untuk menyalakan lampu jika ada orang didalam ruangan.</li>
	<li>Sistem mampu menentukan berapa jumlah lampu yang menyala sesuai dengan jumlah orang yang berada didalam ruang kelas.</li>
</ol>

</div>