#{extends 'home-tema.html' /}
<!--  -->
<link href="@{'public/stylesheets/main.css'}" rel="stylesheet" type="text/css" media="screen" />
<div class="rumusan">

<h1>PERUMUSAN MASALAH</h1>
<p>Lampu merupakan sebuah perangkat yang digunakan untuk memberi penerangan pada suatu ruang atau tempat yang diinginkan. umumnya lampu dikendalikan oleh saklar yang di operasikan secara manual. Sistem pengendalian seperti ini tentu tidak efisien dan tidak seiring dengan perkembangan sistem saat ini, diamana efisiensi dan kemudahan menjadi tujuan utama, sehingga diperlukan sebuah sistem pengendalian lampu yang pintar dan otomatis untuk meningkatkan efisiensi dan kemudahan. Disisi lain penggunaan sistem kendali seperti ini dapat mengurangi beban biaya listrik.</p>

</div>