#{extends 'home-tema.html' /}
<!--  -->
<link href="@{'public/stylesheets/main.css'}" rel="stylesheet" type="text/css" media="screen" />
<div class="user">

<h1>Potensial Class (awal)</h1>
<div class="paragrafkiri"><p>Kumpulan kata benda (noun) yang ada di dalam textual analisis dan diduga merupakan potensial Class :</p>
</div>
<table>
<tbody>
<tr>
<td width="201">
<p>&middot; Display monitor</p>
<p>&middot; Device alarm.</p>
<p>&middot; Ruang kelas.</p>
<p>&middot; Sensor.</p>
<p>&middot; Deteksi orang.</p>
</td>
<td width="201">
<p>&middot; Lampu.</p>
<p>&middot; Menyalakan lampu.</p>
<p>&middot; Mematikan lampu.</p>
<p>&middot; Orang masuk.</p>
<p>&middot; Orang keluar.</p>
</td>
<td width="201">
<p>&middot; Admin.</p>
<p>&middot; Orang.</p>
</td>
</tr>
</tbody>
</table>


<div class="paragrafkiri"><p>Pengelompokan kata benda</p>
</div>
<table>
<tbody>
<tr>
<td width="151">&nbsp;</td>
<td width="250">
 Meaning 
</td>
<td width="201">
 Nouns 
</td>
</tr>
<tr>
<td width="151">
 External Entities 
</td>
<td width="250">
 That produce or consume information to be used by a computer-based system 
</td>
<td width="201">
 Sensors, Device alarm (sistem keamanan) 
</td>
</tr>
<tr>
<td width="151">
 Things 
</td>
<td width="250">
That are part of the information domain of problem
</td>
<td width="201">
 Display monitor 
</td>
</tr>
<tr>
<td width="151">
 Occurrences or events 
</td>
<td width="250">
 That occur within the contextt of the operation 
</td>
<td width="201">
 Deteksi orang, Orang masuk, Orang keluar, Menyalakan lampu, Mematikan lampu 
</td>
</tr>
<tr>
<td width="151">
 Roles 
</td>
<td width="250">
 Played by people who interact with the system 
</td>
<td width="201">
 Admin, Orang 
</td>
</tr>
<tr>
<td width="151">
 Organization Units 
</td>
<td width="250">
That are relevant to an application
</td>
<td width="201">
 - 
</td>
</tr>
<tr>
<td width="151">
Places
</td>
<td width="250">
The establish the context of the problem and overall function of the system
</td>
<td width="201">
 Ruang kelas 
</td>
</tr>
<tr>
<td width="151">
Structures
</td>
<td width="250">
That define a class of object or related classes of object
</td>
<td width="201">&nbsp;</td>
</tr>
</tbody>
</table>
</div>

