#{extends 'home-tema.html' /}
<!--  -->
<link href="@{'public/stylesheets/main.css'}" rel="stylesheet" type="text/css" media="screen" />
<div class="user">

<h1>Potensial Class (awal)</h1>
<div class="paragrafkiri"><p>Refinement some class :</p>
</div>


 
<table>
<tbody>
<tr>
<td width="201">&nbsp;</td>
<td width="276">
 Meanings 
</td>
<td width="126">&nbsp;</td>
</tr>
<tr>
<td width="201">
 Retained Information 
</td>
<td width="276">
 The potensial class will be useful during analysis only if information about it must be remembered so that system can function 
</td>
<td width="126">&nbsp;</td>
</tr>
<tr>
<td width="201">
 Needed services 
</td>
<td width="276">
 The potensial class must have a set of identifiable opertaions that can change that value of its attributs in some way 
</td>
<td width="126">&nbsp;</td>
</tr>
<tr>
<td width="201">
 Multiple Attibute 
</td>
<td width="276">
 During requirement analysis, the focus should be on &ldquo;major&rdquo; information; a class with single attribute may, in fact, be useful during design, but is probably better represented as an attribute of another class during the analysis activity 
</td>
<td width="126">&nbsp;</td>
</tr>
<tr>
<td width="201">
 Common attribute 
</td>
<td width="276">
 A set of attribute can be defined for the potensial class andd these attributes apply to all instance of the class 
</td>
<td width="126">&nbsp;</td>
</tr>
<tr>
<td width="201">
 Common operation 
</td>
<td width="276">
 A set operations can be defined for the potensial class and these operation apply to all instances of the class 
</td>
<td width="126">&nbsp;</td>
</tr>
<tr>
<td width="201">
 Essential requirements 
</td>
<td width="276">
 External entities that appear in the problem space and produce or consume information essential to the operation of any solution for the system will almost always be define as classes in requirement model 
</td>
<td width="126">&nbsp;</td>
</tr>
</tbody>
</table>
</div>

