<div></div><h1> Halaman Simulasi Sensing sensor</h1></div>


<div>
	<form name="sensing" action='@{Application.sensing()}'>
	
	Gedung  :  <input type="text" name="x"> <br>
	Ruangan : <input type="text" name="x"> <br>
	status : <input type="text" name="x"> <br>
		<input type="submit"  value="Kirim"/>
	</form>
</div>

<ul>
	<li>input status= '1' untuk mengirim sinyal bahwa sensor mendeteksi ada orang yang masuk</li>
	<li>input status= '0' untuk mengirim sinyal bahwa sensor mendeteksi ada orang yang keluar</li>
</ul>